* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html, body {
  margin: 0;
  padding: 0;
}

canvas {
  position: absolute;
  top: 0;
}

.colours {
    height: 100vh;
    overflow: hidden;
    background:
        conic-gradient(
            #F6F7EE 1.8868%,
            #EEF0E9 0 calc(2*1.8868%),
            #EAEDE7 0 calc(3*1.8868%),
            #E5E8E3 0 calc(4*1.8868%),
            #E0E3E0 0 calc(5*1.8868%),
            #DBE0DD 0 calc(6*1.8868%),
            #D7DCDB 0 calc(7*1.8868%),
            #D2D8D8 0 calc(8*1.8868%),
            #CDD4D5 0 calc(9*1.8868%),
            #C9CFD2 0 calc(10*1.8868%),
            #C4CCCF 0 calc(11*1.8868%),
            #BEC6CB 0 calc(12*1.8868%),
            #B9C2C8 0 calc(13*1.8868%),
            #B5BFC6 0 calc(14*1.8868%),
            #B0BDC7 0 calc(15*1.8868%),
            #AABAC7 0 calc(16*1.8868%),
            #A5B8C7 0 calc(17*1.8868%),
            #A0B5C7 0 calc(18*1.8868%),
            #9BB3C8 0 calc(19*1.8868%),
            #95B1C8 0 calc(20*1.8868%),
            #92B0C9 0 calc(21*1.8868%),
            #8CADC9 0 calc(22*1.8868%),
            #86AAC9 0 calc(23*1.8868%),
            #81A8C9 0 calc(24*1.8868%),
            #81A8C9 0 calc(25*1.8868%),
            #77A4CB 0 calc(26*1.8868%),
            #72A1CB 0 calc(27*1.8868%),
            #6C9DC7 0 calc(28*1.8868%),
            #6698C4 0 calc(29*1.8868%),
            #5F92BF 0 calc(30*1.8868%),
            #578CBA 0 calc(31*1.8868%),
            #5288B7 0 calc(32*1.8868%),
            #4C83B3 0 calc(33*1.8868%),
            #457EAF 0 calc(34*1.8868%),
            #3F79AB 0 calc(35*1.8868%),
            #3974A8 0 calc(36*1.8868%),
            #3370A4 0 calc(37*1.8868%),
            #2C6AA0 0 calc(38*1.8868%),
            #27669D 0 calc(39*1.8868%),
            #206199 0 calc(40*1.8868%),
            #1E5B8F 0 calc(41*1.8868%),
            #1E5585 0 calc(42*1.8868%),
            #1E4F7A 0 calc(43*1.8868%),
            #1D4B73 0 calc(44*1.8868%),
            #1C4467 0 calc(45*1.8868%),
            #1C3F5E 0 calc(46*1.8868%),
            #1D3B55 0 calc(47*1.8868%),
            #1C354C 0 calc(48*1.8868%),
            #1C3042 0 calc(49*1.8868%),
            #1C2937 0 calc(50*1.8868%),
            #1C252F 0 calc(51*1.8868%),
            #1B1F24 0 calc(52*1.8868%),
            #1A1818 0 calc(53*1.8868%)
        );
}

.info-wrapper {
  position: absolute;
  font-family: Arial, sans-serif;
  color: white;
  font-size: 14px;
  line-height: 19px;
  width: 290px;
  bottom: 1rem;
  left: 1rem;
  z-index: 1000;
}

p {
  margin-bottom: 1rem;
}

.info-toggle {
  background: none; 
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
  color: inherit;
  font-family: inherit;
}

.info-toggle:hover {
    text-decoration: underline;
}

a {
  color: inherit;
  font-family: inherit;
}

a:visited {
  color: inherit;
}

.hide {
  display: none;
}

.circle {
  position: relative;
  width: 0;
  height: 0;
}

.number {
  position: absolute;
  transform: translate(-50%, -50%);
  font-family: Arial, sans-serif;
  color: white;
  mix-blend-mode: difference;
  font-size: 14px;
  line-height: 19px;
}